<ng-template #mymodal let-modal>
  <div class="modal-header" style="background-color:#1486c8">
    <h4 class="modal-title" id="modal-basic-title">Customer Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" >
      <span aria-hidden="true" >×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li><a class="active" href="" data-toggle="tab">Login</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="Login">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <input class="form-control" id="email1" placeholder="Name" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input class="form-control" id="exampleInputPassword1" placeholder="Email" type="email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                Submit
              </button>
              <a class="for-pwd" href="javascript:;">Forgot your password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
 <!-- ======= Header ======= -->

 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center position-relative">

    <!-- Uncomment below if you prefer to use an image logo -->
    <div style="margin-right: 165px;">
    <a href="index.html">

      <img src="../assets/img/IndCompli.png" alt="" class="img-fluid" style="height: 50px;width: 150px; " >
      <!-- <span style="color: #1d84ad; font-size: 20px; position:absolute; padding-left:7px">IndCompli</span> -->
    </a>
  </div>
  <div>
    <nav class="nav-menu d-none d-lg-block" >
      <ul>
        <li class="active"><a href="" >
          <i-bs name="house-fill"></i-bs>
        </a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#services">Complience Cheklist</a></li>
        <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Deep Drop Down</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
        <li>
          <a class="icon icon-user2" (click)="open(mymodal)" >
            <i-bs name="person-fill"
        width="1.5rem"
        height="1.5rem"></i-bs>
            <!-- <span class="glyphicon glyphicon-user"></span> -->
          </a>
        </li>

      </ul>
    </nav>

  </div>

  </div>
</header> <!--End Header-->
