<div class="ag_portfolio_logo" >
  <img src="/assets/img/img6.jpg" alt="">
  <div class="ag_portfolio_inform_2">
    <div class="container">
      <div class="ag_portfolio_inform">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"
             *ngFor="let item of breadCrumbList; let i = index" >
            <!-- [class.active]="i===breadCrumbList.length-1">  -->
            <a [routerLink]="item.path" *ngIf="i!==breadCrumbList.length-1">
              {{ item.name }}
            </a>
            <span *ngIf="i===breadCrumbList.length-1">{{ item.name }}</span>
          </li>
        </ol>
        </div>
      </div>
    </div>
</div>
