<p>
  <br><br>
  <app-breadcrumb [img] = "imageSrc"></app-breadcrumb>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Home
      </li>
      <li class="breadcrumb-item">
        About
      </li>
    </ol>
  </nav>
  <b>About US</b>
<p>
Etrends is a leading provider offering comprehensive Governance, Risk and Compliance (GRC) management solutions under the brand name – Laser.
We help organizations by efficiently automating the entire process of internal audit and controls, monitoring compliances and addressing enterprise risk proactively through our Laser tools. Transparent and real time status tools give assurance to senior management, and organizations can take charge before minor issues get snowballed into serious liabilities.
</p>

To date, we have successfully deployed Laser products across companies of varying sizes and complexities in the business and technology sectors in India, UK, US, North Australia, Africa and the Middle East.

