
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >

  <div class="carousel-inner">
      <ngb-carousel>
          <ng-template ngbSlide>
              <img class="d-block w-100 tales" src="../assets/img/img1.jpeg"  alt="Delhi Metro">

          </ng-template>
          <ng-template ngbSlide>
              <img class="d-block w-100 tales" src="../assets/img/img2.jpeg" alt="Bangalore Metro">

          </ng-template>
          <ng-template ngbSlide>
              <img class="d-block w-100 tales" src="../assets/img/img3.jpg" alt="Channai Metro">

          </ng-template>
          <ng-template ngbSlide>
            <img class="d-block w-100 tales" src="../assets/img/img4.jpg" alt="Bangalore Metro">

        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100 tales" src="../assets/img/img5.jpg" alt="Channai Metro">

        </ng-template>

      </ngb-carousel>
  </div>

</div>
