<!-- <ng-template #mymodal let-modal>
  <div class="modal-header" style="background-color:#1486c8">
    <h4 class="modal-title" id="modal-basic-title">Customer Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" >
      <span aria-hidden="true" >×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li><a class="active" href="" data-toggle="tab">Login</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="Login">
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <input class="form-control" id="email1" placeholder="Name" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input class="form-control" id="exampleInputPassword1" placeholder="Email" type="email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                Submit
              </button>
              <a class="for-pwd" href="javascript:;">Forgot your password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->
 <!-- ======= Header ======= -->

 <!-- <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center position-relative"> -->

    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <div style="margin-right: 250px;">
    <a href="index.html">

      <img src="../assets/img/logo.jpeg" alt="" class="img-fluid" style="height: 30px;width: 30px; " >
      <span style="color: #1d84ad; font-size: 20px; position:absolute; padding-left:7px">IndCompli</span>
    </a>
  </div>
  <div>
    <nav class="nav-menu d-none d-lg-block" >
      <ul>
        <li class="active"><a href="" >
          <i-bs name="house-fill"></i-bs>
        </a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#services">Complience Cheklist</a></li>
        <li class="drop-down"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Deep Drop Down</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
        <li>
          <a class="icon icon-user2" (click)="open(mymodal)" >
            <i-bs name="person-fill"
        width="1.5rem"
        height="1.5rem"></i-bs> -->
            <!-- <span class="glyphicon glyphicon-user"></span> -->
          <!-- </a>
        </li>

      </ul>
    </nav>

  </div>

  </div>
</header> -->
 <!--End Header-->

<!-- ========================================= Header End =================================================== -->

<!-- <app-home></app-home> -->


<!--
<section class = 'why-comply'>
  <div class="fix-center">
    <div class="left-comply">
      <h2>Why
        <span class="gcolor">
          IndCompli</span>?

      </h2>
    </div>
    <div class="right-comply">
      <p>When running a business, whether it is an SMB, or a large enterprise, one of the basic requirements is 100% compliance with the law. In complex jurisdictions, this can be a very daunting task! In India alone, there are over <span class="gcolor">76,000 </span> possible annual statutory compliance laws in 2019.</p>

      <p>You have to:</p>
      <ul>
      <li>determine which among this myriad of laws apply to you</li>
      <li>keep track of all the legal updates and notifications</li>
      <li>make sure that you conform to the law in letter and spirit</li>
      <li>and of course, always be ready for compliance audits.</li>
      </ul>
      <p>All of this just distracts you from your core focus – your business.</p>



      <p>Being non-compliant also does the same thing. If the associated penalties for non-compliance are not enough of a deterrent, the consequences to your senior management, and&nbsp; the wasted hours filing a large amount of paperwork to remedy these non-compliances, should be!</p>

    </div>
  </div>
</section>

<section class="product-look" id="pricing">
  <div class="fix-center">
    <h3>Just look at the numbers!</h3>
    <ul class="number-plist">
    <li>
    <h4>₹ 33,65,588</h4>
    <p>Average penalty paid in 2019, per entity, for non-compliance.</p>
    </li>
    <li>
    <h4>38,750</h4>
    <p>Average filings / proofs to be submitted by entities per year.</p>
    </li>
    <li>
    <h4>45,786</h4>
    <p>Directors who got delisted in 2019, due to non-compliance.</p>
    </li>
    </ul>
    <h3>Sounds overwhelming, doesn’t it? <br>Well, it doesn’t need to be.</h3>
  </div>
</section>

<section class="product-views" id="about">
  <div class="fix-center">
    <div class="prct-title">
      <h2>Meet
        <span class="gcolor">
          IndCompli        </span>
        <sup>
          ®        </sup>
      </h2>
      <p>
        your next-gen Compliance Management Software      </p>
    </div>


    <div class="cdivid-part">
      <div class="cdividleft">
        <p>A perfect blend of compliance checklists, intuitive workflows &amp; email integration, and automated reminders of compliance tasks, all rolled into one.</p>
        <p>This platform takes care of everything, from:</p>
        <ul>
        <li>determining the statutory compliance laws applicable to your business, to</li>
        <li>helping your compliance team automate the process, to</li>
        <li>storing all proofs of compliance in a single central repository, and even</li>
        <li>sending regular status reports for your management</li>
        </ul>
        <p>All you need to do is, sign up for this cloud-based legal-tech SaaS platform.</p>
        <p>IndCompli<sup>®</sup> has been designed to help keep your business 100% compliant to statutory laws and regulatory bodies.</p>
      </div>
      <div class="cdividright">
        <img class="alignnone size-medium wp-image-215" src="https://upwardsleader.files.wordpress.com/2016/01/public_meetings.jpg" alt=""  sizes="(max-width: 504px) 100vw, 504px">
      </div>
    </div>

    <div class="sets-apart">
      <div class="full-uliosts">
        <h2>What sets us apart?</h2>
        <ul>
          <li>
            <h4>Zero Learning Curve.</h4>
            <p>IndCompli<sup>®</sup> integrates directly with your email inbox and calendar. You are notified of all tasks over your email client and can also complete the tasks on email. Your team doesn’t need to learn any new software!</p>
          </li>
          <li>
            <h4>Audit Ready. Always.</h4>
            <p>All your compliance proofs centrally accessible anytime, anywhere and on any device, including your smartphones. The records are available on-demand and safely stored on a secure server, so you’re ready for an audit at a moment’s notice!</p>
          </li>
          <li>
            <h4>Your Legal Specialist</h4>
            <p>An industry first – we assign you a dedicated proof processing specialist, who will review your proofs and validate that they conform to statutory requirements for your nature of business.</p>
          </li>
        </ul>
      </div>
      <div class="dvcontent-parts">
        <div class="readmore-more">
          <ul>
            <li>
              <h4>Comprehensive Coverage</h4>
              <p>IndCompli<sup>®</sup> integrates directly with your email inbox and calendar. You are notified of all tasks over your email client and can also complete the tasks on email. Your team doesn’t need to learn any new software!</p>
            </li>
            <li>
              <h4>Central Repository</h4>
              <p>You an upload and archive all compliance related documents like checklists, supporting documents, forms, proofs, filings, etc. onto an easy-to-use centralised storage, with access control. Your files can be easily tagged, searched and retrieved at any time for future use.</p>
            </li>
            <li>
              <h4>Tracks and Updates</h4>
              <p>We use proprietary algorithms to monitor, collate, and digitize any and all legal notifications in real-time. These notifications are additionally vetted by Subject Matter Experts (SMEs), including legal SMEs, prior to updating our central database. So, whether you are in a highly regulated vertical or setting out as a start-up, you will find that we have India’s most current and comprehensive compliance database.</p>
            </li>
            <li>
              <h4>Dashboard &amp; Analytics Reporting</h4>
              <p>On-demand reporting and real-time analytics are also available at all times, for you to monitor and track all the compliance tasks, across your company.</p>
            </li>
            <li>
              <h4>Statutory Forms Library</h4>
              <p>You can instantly access any and all statutory-compliance forms from our carefully curated and comprehensive library.</p>
            </li>
            <li>
              <h4>Auditor Role</h4>
              <p>A unique feature that allows you to give external auditors limited access to sensitive documents, while providing complete control over access permissions.</p>
            </li>
            <li>
              <h4>Manage Non-Statutory Tasks</h4>
              <p>This tool can be used to define and implement non-statutory checklists, internal policies, as well as industry standards such as RERA, NABH, etc.</p>
            </li>
            <li>
              <h4>C-Suite Mobile App</h4>
              <p>You can also download our easy-to-use app on your phone and keep track of your compliance while you’re on the go!</p>
            </li>
            <li>
              <h4>Intuitive Configurable Tools</h4>
              <p>IndCompli<sup>®</sup> also has configurable email alerts and notifications, escalations and periodic task management alerts. You can even enable, review, and approve a workflow along with document upload capabilities, and easily create an Escalation Matrix.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

     <div class="sets-apart">
      <div class="full-uliosts">
        <h2>What sets us apart?</h2>
        <ul>
        <li>
        <h4>Zero Learning Curve.</h4>
        <p>IndCompli<sup>®</sup> integrates directly with your email inbox and calendar. You are notified of all tasks over your email client and can also complete the tasks on email. Your team doesn’t need to learn any new software!</p>
        </li>
        <li>
        <h4>Audit Ready. Always.</h4>
        <p>All your compliance proofs centrally accessible anytime, anywhere and on any device, including your smartphones. The records are available on-demand and safely stored on a secure server, so you’re ready for an audit at a moment’s notice!</p>
        </li>
        <li>
        <h4>Your Legal Specialist</h4>
        <p>An industry first – we assign you a dedicated proof processing specialist, who will review your proofs and validate that they conform to statutory requirements for your nature of business.</p>
        </li>
        </ul>
      </div>
      <div class="dvcontent-parts">
        <div class="readmore-more">
          <ul>
<li>
<h4>Comprehensive Coverage</h4>
<p>IndCompli<sup>®</sup>covers all legislations for all industry verticals, pan-India, both on national and state levels, and in some cases, even upto the municipal level! With our legal-system agnostic platform, we offer full coverage in Singapore and Malaysia and are rapidly expanding to other jurisdictions.</p>
</li>
<li>
<h4>Central Repository</h4>
<p>You an upload and archive all compliance related documents like checklists, supporting documents, forms, proofs, filings, etc. onto an easy-to-use centralised storage, with access control. Your files can be easily tagged, searched and retrieved at any time for future use.</p>
</li>
<li>
<h4>Tracks and Updates</h4>
<p>We use proprietary algorithms to monitor, collate, and digitize any and all legal notifications in real-time. These notifications are additionally vetted by Subject Matter Experts (SMEs), including legal SMEs, prior to updating our central database. So, whether you are in a highly regulated vertical or setting out as a start-up, you will find that we have India’s most current and comprehensive compliance database.</p>
</li>
<li>
<h4>Dashboard &amp; Analytics Reporting</h4>
<p>On-demand reporting and real-time analytics are also available at all times, for you to monitor and track all the compliance tasks, across your company.</p>
</li>
<li>
<h4>Statutory Forms Library</h4>
<p>You can instantly access any and all statutory-compliance forms from our carefully curated and comprehensive library.</p>
</li>
<li>
<h4>Auditor Role</h4>
<p>A unique feature that allows you to give external auditors limited access to sensitive documents, while providing complete control over access permissions.</p>
</li>
<li>
<h4>Manage Non-Statutory Tasks</h4>
<p>This tool can be used to define and implement non-statutory checklists, internal policies, as well as industry standards such as RERA, NABH, etc.</p>
</li>
<li>
<h4>C-Suite Mobile App</h4>
<p>You can also download our easy-to-use app on your phone and keep track of your compliance while you’re on the go!</p>
</li>
<li>
<h4>Intuitive Configurable Tools</h4>
<p>IndCompli<sup>®</sup> also has configurable email alerts and notifications, escalations and periodic task management alerts. You can even enable, review, and approve a workflow along with document upload capabilities, and easily create an Escalation Matrix.</p>
</li>
</ul>
          <a class="readless">Show Less
          </a>
        </div>
        <a class="p-readmore"> Show More
        </a>
      </div>
    </div> -->
  <!-- </div> -->

<!-- </section> --> -->



