
<section>
  <app-carousel></app-carousel>
</section>

<!-- <div class='why-comply breadcrumb'></div> -->
<section class = 'why-comply'>
  <div class="fix-center">
    <div class="left-comply">
      <h2>Why
        <span class="gcolor">
          IndCompli</span>?

      </h2>
    </div>
    <div class="right-comply">
      <p>When running a business, whether it is an SMB, or a large enterprise, one of the basic requirements is 100% compliance with the law. In complex jurisdictions, this can be a very daunting task! In India alone, there are over <span class="gcolor">76,000 </span> possible annual statutory compliance laws in 2019.</p>

      <p>You have to:</p>
      <ul>
      <li>determine which among this myriad of laws apply to you</li>
      <li>keep track of all the legal updates and notifications</li>
      <li>make sure that you conform to the law in letter and spirit</li>
      <li>and of course, always be ready for compliance audits.</li>
      </ul>
      <p>All of this just distracts you from your core focus – your business.</p>



      <p>Being non-compliant also does the same thing. If the associated penalties for non-compliance are not enough of a deterrent, the consequences to your senior management, and&nbsp; the wasted hours filing a large amount of paperwork to remedy these non-compliances, should be!</p>

    </div>
  </div>
</section>

<section class="product-look">
  <div class="fix-center">
    <h3>Just look at the numbers!</h3>
    <ul class="number-plist">
    <li>
    <h4>₹ 33,65,588</h4>
    <p>Average penalty paid in 2019, per entity, for non-compliance.</p>
    </li>
    <li>
    <h4>38,750</h4>
    <p>Average filings / proofs to be submitted by entities per year.</p>
    </li>
    <li>
    <h4>45,786</h4>
    <p>Directors who got delisted in 2019, due to non-compliance.</p>
    </li>
    </ul>
    <h3>Sounds overwhelming, doesn’t it? <br>Well, it doesn’t need to be.</h3>
  </div>
</section>

<section class="product-views" id="about">
  <div class="fix-center">
    <div class="prct-title">
      <h2>About
        <span class="gcolor">
          IndCompli        </span>
        <sup>
          ®        </sup>
      </h2>
      <p>
        your next-gen Compliance Management Software      </p>
    </div>

    <div class="fix-center">
      <div class="col-md-12">
        <div class="tab-content">
          <div class="tab-pane active fade show" id="tab1">
            <div class="row text-center">
              <div class="col-md-4">
                <p>
                  We have prepared a comprehensive manual of compliance under various laws and regulationsas applicable to indian bussines. Same is customized for each company based on its requirements
                </p>
              </div>
              <div class="col-md-4">
                <p>
                     We create compliance calender and generate remainders for timely action of the compliance activities. Our tool targets to facilitates smooth work flow. For each compliance / events. Escalation levelsare also listed along with periodic customized reports sent to various levels.
                </p>
              </div>
              <div class="col-md-4">
                <p>
                  we track legislations frpm the "Bill" stage, propesed amendments, tax and regultory updates to ensure our clients and compliant at all times. This helps companies prepare in advance for making ay operational changes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="sets-apart">

      <div class="dvcontent-parts">
          <ul>
            <li>
              <p>"IndCompli" is an enhanced web based compliance management tool on a secured cloud environment</p>
            </li>
            <li>
              <p>Packaged solution for Corporate, Tax, Labour, Environment Law etc. related compliance</p>
            </li>
            <li>
              <p>Compliance management across industries(covers both Manufactuing and Service sector)</p>
            </li>
            <li>
              <p>'One stop shop' for all compliances - Compliance manual & calender, forms, customized reports, Repositiory etc</p>
            </li>
            <li>
              <p>
                Manage, supervise and control statutory, regulatory compliance activities
              </p>
            </li>
            <li>
              <p>
                Ensuring Quality control through manual verification of documents by domain experts
              </p>
            </li>
            <li>
              <p>
                Assist the management to have a centralized control, Real-time, quick and easy access to complience status
              </p>
            </li>
            <li>
              <p>
                Facilitates in creating a repository of documents for all complied activities. Also creates a repository of all licenses aand agreements
              </p>
            </li>

          </ul>
      </div>
    </div>


    <!-- <div class="sets-apart">
      <div class="full-uliosts">
        <h2>What sets us apart?</h2>
        <ul>
        <li>
        <h4>Zero Learning Curve.</h4>
        <p>IndCompli<sup>®</sup> integrates directly with your email inbox and calendar. You are notified of all tasks over your email client and can also complete the tasks on email. Your team doesn’t need to learn any new software!</p>
        </li>
        <li>
        <h4>Audit Ready. Always.</h4>
        <p>All your compliance proofs centrally accessible anytime, anywhere and on any device, including your smartphones. The records are available on-demand and safely stored on a secure server, so you’re ready for an audit at a moment’s notice!</p>
        </li>
        <li>
        <h4>Your Legal Specialist</h4>
        <p>An industry first – we assign you a dedicated proof processing specialist, who will review your proofs and validate that they conform to statutory requirements for your nature of business.</p>
        </li>
        </ul>
      </div>
      <div class="dvcontent-parts">
        <div class="readmore-more">
          <ul>
<li>
<h4>Comprehensive Coverage</h4>
<p>IndCompli<sup>®</sup>covers all legislations for all industry verticals, pan-India, both on national and state levels, and in some cases, even upto the municipal level! With our legal-system agnostic platform, we offer full coverage in Singapore and Malaysia and are rapidly expanding to other jurisdictions.</p>
</li>
<li>
<h4>Central Repository</h4>
<p>You an upload and archive all compliance related documents like checklists, supporting documents, forms, proofs, filings, etc. onto an easy-to-use centralised storage, with access control. Your files can be easily tagged, searched and retrieved at any time for future use.</p>
</li>
<li>
<h4>Tracks and Updates</h4>
<p>We use proprietary algorithms to monitor, collate, and digitize any and all legal notifications in real-time. These notifications are additionally vetted by Subject Matter Experts (SMEs), including legal SMEs, prior to updating our central database. So, whether you are in a highly regulated vertical or setting out as a start-up, you will find that we have India’s most current and comprehensive compliance database.</p>
</li>
<li>
<h4>Dashboard &amp; Analytics Reporting</h4>
<p>On-demand reporting and real-time analytics are also available at all times, for you to monitor and track all the compliance tasks, across your company.</p>
</li>
<li>
<h4>Statutory Forms Library</h4>
<p>You can instantly access any and all statutory-compliance forms from our carefully curated and comprehensive library.</p>
</li>
<li>
<h4>Auditor Role</h4>
<p>A unique feature that allows you to give external auditors limited access to sensitive documents, while providing complete control over access permissions.</p>
</li>
<li>
<h4>Manage Non-Statutory Tasks</h4>
<p>This tool can be used to define and implement non-statutory checklists, internal policies, as well as industry standards such as RERA, NABH, etc.</p>
</li>
<li>
<h4>C-Suite Mobile App</h4>
<p>You can also download our easy-to-use app on your phone and keep track of your compliance while you’re on the go!</p>
</li>
<li>
<h4>Intuitive Configurable Tools</h4>
<p>IndCompli<sup>®</sup> also has configurable email alerts and notifications, escalations and periodic task management alerts. You can even enable, review, and approve a workflow along with document upload capabilities, and easily create an Escalation Matrix.</p>
</li>
</ul>
          <a class="readless">Show Less
          </a>
        </div>
        <a class="p-readmore"> Show More
        </a>
      </div>
    </div> -->
  </div>

</section>

<!-- <p>
  app-hom/?
</p> -->
