<div class="footer-bottom">
  <div class="fix-center">
   <p>© 2021 Copyright ONEDELTA. All Rights Reserved. </p>
   </div>
</div>


<!-- <div>
 <br>
 <br>
 <b>Footer</b><br>
 <p>The Laser GRC Suite comprises a comprehensive portfolio of highly intuitive and intelligent web-based, enterprise-level Governance, Risk and Compliance (GRC) solutions that enable organizations to leverage technology to efficiently automate GRC procedures, maximize business value and address risk and regulatory challenges with confidence
</p>
<p>
Developed by Etrends, a leading and trusted provider in the GRC arena, our platforms are intuitive, user-friendly, flexible and easy to implement, and tried and tested by the well-known organizations in India and abroad.
</p><p>
Our automated solutions can be deployed individually or can be integrated seamlessly within a centralized GRC platform. Our solutions help align the various departments of an organization and encourage mutual goals and attitudes to identify, understand, measure and manage key organizational risks at a holistic level.
</p>
<br>
 <br>
 <br>
 <br>
</div> -->
                <!-- <div class="col-md-12"> -->
                  <!-- <div class="tab-content"> -->
                      <!-- <div class="tab-pane active fade show" id="tab1"> -->
                          <!-- <div class="row text-center"> -->
                              <!-- <div class="col-md-4">
                                  <div class="pricing-table pricing-table-highlighted">
                                      <div class="pricing-table-header grd1">
                                          <h2>Shared Hosting</h2>
                                          <h3>$85/month</h3>
                                      </div>
                                      <div class="pricing-table-space"></div>
                                      <div class="pricing-table-features">
                                          <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                          <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                          <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                          <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                          <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                      </div>
                                      <div class="pricing-table-sign-up">
                                          <a href="#" class="hover-btn-new"><span>Order Now</span></a>
                                      </div>
                                  </div>
                              </div> -->
                              <!-- <div class="col-md-4">
                                  <div class="pricing-table pricing-table-highlighted">
                                      <div class="pricing-table-header grd1">
                                          <h2>WordPress Hosting</h2>
                                          <h3>$59/month</h3>
                                      </div>
                                      <div class="pricing-table-space"></div>
                                      <div class="pricing-table-features">
                                          <p><i class="fa fa-envelope-o"></i> <strong>150</strong> Email Addresses</p>
                                          <p><i class="fa fa-rocket"></i> <strong>65GB</strong> of Storage</p>
                                          <p><i class="fa fa-database"></i> <strong>60</strong> Databases</p>
                                          <p><i class="fa fa-link"></i> <strong>30</strong> Domains</p>
                                          <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                      </div>
                                      <div class="pricing-table-sign-up">
                                          <a href="#" class="hover-btn-new"><span>Order Now</span></a>
                                      </div>
                                  </div>
                              </div> -->

                              <!-- <div class="col-md-4">
                                  <div class="pricing-table pricing-table-highlighted">
                                      <div class="pricing-table-header grd1">
                                          <h2>Reseller Hosting</h2>
                                          <h3>$85/month</h3>
                                      </div>
                                      <div class="pricing-table-space"></div>
                                      <div class="pricing-table-features">
                                          <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                          <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                          <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                          <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                          <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                      </div>
                                      <div class="pricing-table-sign-up">
                                          <a href="#" class="hover-btn-new"><span>Order Now</span></a>
                                      </div>
                                  </div>
                              </div> -->
                          <!-- </div>end row -->
                      <!-- </div>end pane -->

                      <!-- <div class="tab-pane fade" id="tab2"> -->
                          <!-- <div class="row text-center">
                              <div class="col-md-4">
                                  <div class="pricing-table pricing-table-highlighted">
                                      <div class="pricing-table-header grd1">
                                          <h2>Shared Hosting</h2>
                                          <h3>$85/Year</h3>
                                      </div>
                                      <div class="pricing-table-space"></div>
                                      <div class="pricing-table-features">
                                          <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                          <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                          <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                          <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                          <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                      </div>
                                      <div class="pricing-table-sign-up">
                                          <a href="#" class="hover-btn-new"><span>Order Now</span></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pricing-table pricing-table-highlighted">
                                      <div class="pricing-table-header grd1">
                                          <h2>WordPress Hosting</h2>
                                          <h3>$59/Year</h3>
                                      </div>
                                      <div class="pricing-table-space"></div>
                                      <div class="pricing-table-features">
                                          <p><i class="fa fa-envelope-o"></i> <strong>150</strong> Email Addresses</p>
                                          <p><i class="fa fa-rocket"></i> <strong>65GB</strong> of Storage</p>
                                          <p><i class="fa fa-database"></i> <strong>60</strong> Databases</p>
                                          <p><i class="fa fa-link"></i> <strong>30</strong> Domains</p>
                                          <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                      </div>
                                      <div class="pricing-table-sign-up">
                                          <a href="#" class="hover-btn-new"><span>Order Now</span></a>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-md-4">
                                  <div class="pricing-table pricing-table-highlighted">
                                      <div class="pricing-table-header grd1">
                                          <h2>Reseller Hosting</h2>
                                          <h3>$85/Year</h3>
                                      </div>
                                      <div class="pricing-table-space"></div>
                                      <div class="pricing-table-features">
                                          <p><i class="fa fa-envelope-o"></i> <strong>250</strong> Email Addresses</p>
                                          <p><i class="fa fa-rocket"></i> <strong>125GB</strong> of Storage</p>
                                          <p><i class="fa fa-database"></i> <strong>140</strong> Databases</p>
                                          <p><i class="fa fa-link"></i> <strong>60</strong> Domains</p>
                                          <p><i class="fa fa-life-ring"></i> <strong>24/7 Unlimited</strong> Support</p>
                                      </div>
                                      <div class="pricing-table-sign-up">
                                          <a href="#" class="hover-btn-new"><span>Order Now</span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>end row -->
                      <!-- </div>end pane -->
                  <!-- </div>end content -->
              <!-- </div>end col -->
